
@{
    ViewData["Title"] = "CrearUsuario";
}

<h1>CrearUsuario</h1>
<hr />

<form method="post">
    <input class="form-control" type="text" placeholder="email" name="email" /><br />
    <input class="form-control" type="text" placeholder="password" name="password" /> <br />

    <button type="submit" class="btn btn-primary">
        Crear
    </button>
</form>
